.swal2-modal {
    min-height: 487px !important;
    max-height: 487px !important;
}

.swal2-image {
    margin-top: 120px !important;
}

.window {

    height: 300px;
    background-color: #f2f1f0;
    -webkit-transition: 1s;
    transition: 1s;
}

.window .topbar {
    height: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-linear-gradient(#65645e, #3c3b37);
    background-image: linear-gradient(#65645e, #3c3b37);

    border-bottom: 1px solid #302f2c;
}

.window .topbar p {
    color: #dfdbd0;
    margin-left: 20px;
}

.window .topbar .icons {
    background-image: -webkit-linear-gradient(#363632, #4e4d48);
    background-image: linear-gradient(#363632, #4e4d48);
    margin-left: 15px;
    border-radius: 500px;
    padding: 2px 3px 1px 3px;
}

.window .topbar .icons .close {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(#f79674, #df5106);
    background-image: linear-gradient(#f79674, #df5106);
    display: inline-block;
}

.window .topbar .icons .close:hover {
    background-image: -webkit-linear-gradient(#f8a082, #f85c09);
    background-image: linear-gradient(#f8a082, #f85c09);
}

.window .topbar .icons .hide,
.window .topbar .icons .maximize {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
    background-image: -webkit-linear-gradient(#989792, #5a5a55);
    background-image: linear-gradient(#989792, #5a5a55);
    display: inline-block;
}

.window .topbar .icons .hide:hover,
.window .topbar .icons .maximize:hover {
    background-image: -webkit-linear-gradient(#a2a19d, #6b6b65);
    background-image: linear-gradient(#a2a19d, #6b6b65);
}

.window .wtitle {
    font-size: 14px;
    font-weight: bold;
}

.window .tools {
    height: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #3c3b37;
    color: #dfdbd0;
}

.acomodar {
    margin-top: 10px;
}

.seq {
    z-index: 1;
}

#console {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #281022;
    height: 15px;
}

#console-panel {
    background-color: #281022;
    overflow-y: scroll;
    height: 300px;
}

#console div {
    display: table-cell;
    width: auto;
}

#console #command {
    width: 100%;
}

#console input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

#console input:focus {
    outline: none;
}

#preConsole {
    border: none;
    margin: 0;
    /*padding-top: 50px;*/
    white-space: pre;
    background-color: #281022;
    color: white;
}

#preCode {
    color: gray;
    font-family: inherit;
    font-size: inherit;
}

.error {
    color: red;
}