/web/uploads/
/web/assets/vendor/moovly/videos/*
/web/*.php
/web/images/course/gif/*
/web/error_log
/web/assets/vendor/elfinder/octonautas/*
/app/bootstrap.php.cache
/app/cache/*
/app/sessions/
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/nbproject/private/
*~
*.*php~
.idea/*
.idea/
.quarantine/
.tmb/
web/.quarantine/
web/.tmb/
web/assets/.quarantine/
web/assets/.tmb/
web/assets/vendor/.quarantine/
web/assets/vendor/.tmb/
web/assets/vendor/elfinder/.quarantine/
web/assets/vendor/elfinder/.tmb/
web/assets/vendor/elfinder/files/.quarantine/
web/assets/vendor/elfinder/files/.tmb/
web/assets/vendor/elfinder/files/wramones/.quarantine/
web/assets/vendor/elfinder/files/wramones/.tmb/
web/assets/vendor/moovly/videos/
web/images/course/gif/
