{% extends 'base_app.html.twig' %}
{% block body %} 

    <div class="main">
        
  <div class="main-inner">
    <div class="container">  
        
        {% for message in app.session.flashBag.get('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {%endfor %}
        
        {% if not adscrito %} 
            <div class="alert alert-info">
               <button type="button" class="close" data-dismiss="alert">&times;</button>
               <strong>Información!</strong> Su solicitud de adscripción se encuentra en revisión.
               Tan pronto sea activada, se le notificará por el correo institucional y podrá
               disfrutar de los servicios que ofrecemos
           </div>
       {%endif %}
      <div class="row">
        <div class="col-md-6">
          <div class="widget widget-nopad">
            <div class="widget-header"> <i class="fa fa-list-alt"></i>
              <h3> CEA@UBV</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                    
                    <h6 class="bigstats">                        
                        Estimado Docente, le damos la más cordial bienvenida al Sistema del Centro de Estudios Ambientales (CEA) de la Universidad Bolivariana de Venezuela (UBV) CEA@UBV.
                        
                    </h6>                    
                  
                </div>
                <!-- /widget-content --> 
                
              </div>
            </div>
          </div>
          <!-- /widget -->
        </div>
          <div class="col-md-5 col-lg-offset-1">
              
              <img src="{{ asset('bundles/framework/images/portal/logo_ubv.png') }}" />
              
          </div>
      </div>
    </div>
  </div>
    </div>

{% endblock %}
