{% extends 'base_app.html.twig' %}

{%block body %} 

     <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>Listado de solicitudes de Adscripción Al CEA</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th> Datos del Docente </th>
                    <th> Cantidad de Documentos</th>
                    <th class="td-actions"> Acciones Rápidas </th>
                  </tr>
                </thead>
                <tbody>
                    {% for adscripcion in adscripciones %}
                  <tr>
                    <td> Fresh Web Development Resources </td>
                    <td> http://www.egrappler.com/ </td>
                    <td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
                  </tr>
                  {% endfor %}                  
                
                </tbody>
              </table>
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget --> 
    
{% endblock %}
